    <!-- Footer partial -->
    <footer>
        <div class="footer-container">
           <p> &copy; 2025 | Lösning av moment 2 i kursen DT191G av Johan Magnusson (joma2304) |</p>
        </div>
    </footer>