<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - joma2304</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
    <header>
        <div class="nav-container">
            <nav class="nav">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logotyp2.png" alt="logotyp"
                        class="logo"></a>

                <button class="hamburger" id="hamburger-toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>

                <div class="nav-div">
                    <ul class="nav-ul" id="nav-ul">
                        <li class="nav-li">
                            <a class="nav-a" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-a" asp-area="" asp-controller="Home" asp-action="Persons">Personer</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-a" asp-area="" asp-controller="Home" asp-action="AddPerson">Lägg till</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer") <!-- Footer partial -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
